.header {
	padding: 36px 0 80px 0;
	
}

.header_logo {
	width: 50px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 700;
	
}

.header_nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
	margin: 0 0 0 360px;
	
}

.header_nav-link {
	font-family: 'Merriweather', serif;
	font-size: 16px;font-weight: 300;
}

.header_nav-link:hover {
	color: brown;
}

.header_actions {
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	margin: -19px 0 10px 36px;
	cursor: pointer;
}
.btn-header {
	width: 160px;
	height: 36px;
	align-items: center;
	font-family: 'Bitter', serif;
	font-size: 14px;
	font-weight: 100;
	cursor: pointer;
	/* margin-left: auto; */
	top: 10px;

}

.btn-header:hover {
	color: brown;
}

@media (max-width: 1200px) {
	/* .header_actions  {
		display: none;
	} */

	.header_nav-list {
		justify-content: start;
		margin: 0 0 0 200px;
	}


}

@media (max-width: 1033px) {
	.header_actions  {
		padding: 0 0 0 400px;
	}

	.header_nav-list {
		justify-content: start;
		margin: 0 0 0 100px;
	}


}


@media (max-width: 938px) {
	/* .header_actions  {
		display: none;
	} */

	.header_nav-list {
		display: none;
	}


}