:root{
	--color-white: #fff;
	--color-black: #242121;
	--color-blue-black: #01353E;
	--color-green-white: #00B2A0;
	--font-roboto: "Roboto Condensed", sans-serif;
	--font-Raleway: "Raleway", sans-serif;
}